.teamName{
    display: flex;
    justify-content: start;
}

.teamName h2{
    margin-top: 8px;
    font-size: 28px;
}

.teamDescription{
    display: flex;
    justify-content: start;
    font-size: 18px;
    margin-bottom: 24px;
}