.body {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  padding-top: 32px;
  padding-bottom: 32px;
  /* max-width: 1080px; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* margin: auto; */
  /* border: 1px solid #B8B298;
    border-radius: 24px; */
}

.profileDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: aqua; */
  padding: 16px;
}

.teamsBox {
  /* border: 1px solid #cfd8dc;
    border-radius: 12px; */
  /* box-shadow: 0.5px 1px #cfd8dc; */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
  margin-top: 24px;
}

.teamCard {
  border: 1px solid #cfd8dc;
  border-radius: 12px;
  width: 100%;
  margin-bottom: 12px;
  cursor: pointer;
  display: flex;
  text-align: left;
  padding: 0px 12px;
  box-sizing: border-box;
}

.teamCard p {
  font-size: 16px;
  font-weight: 400;
  color: #29434e;
}

.container h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}

.profileStats {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 16px;
}

.statsBugs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  margin-top: 24px;
}

.heading {
  font-size: 18px;
  font-weight: 450;
  margin-bottom: 16px;
  color: #29434e;
}
